body.contact-page {
    .sub-header-contact {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 0;
        }

        .sub-header-content {
            z-index: 1;
        }
    }

    .contact-warp {
        .h3 {
            font-weight: 400;
            margin-bottom: 30px;
        }

        .form-contact-arc {
            font-family: $font2;
            .btn-long {
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }

    .right-contact {
        *:not(.h3):not(i) {
            font-family: $font2;
        }

        a {
            color: $black2;
        }

        .fa-home {
            background: url("images/abri.png") no-repeat center center;
        }

        .fa-phone {
            background: url("images/mobile.png") no-repeat center center;
        }

        .fa-envelope-o {
            background: url("images/enveloppe.png") no-repeat center center;
        }
        .fa-envelope-o,
        .fa-phone,
        .fa-home {
            background-size: cover;
            width: 18px;
            height: 18px;
            font-size: 0px;
            vertical-align: text-top;
        }
        @media (max-width: 991px) {
            padding-left: 0px;
            margin-top: 5rem;
        }
    }
}