@mixin form-search-shop {
    .form-search-shop {
        text-align: center;

        .form-group {
            width: 100%;
            max-width: 850px;
            margin: 35px auto;
            background: #e6e6e6;
            padding-left: 25px;

            input {
                display: inline-block;
                height: 40px;
                background: #e6e6e6;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                -webkit-transition: all .6s ease 0s;
                transition: all .6s ease 0s;
                border: 0;
                outline: none;
                font-size: 1.2rem;
                font-family: $font2;
                width: calc(100% - 35px) !important;
            }

            button[type="submit"] {
                transform: translateY(3px) rotateY(180deg);
                -moz-transform: translateY(3px) rotateY(180deg);
                -webkit-transform: translateY(3px) rotateY(180deg);
            }
        }
    }
}

p.woocommerce-result-count {
    float: left;
}

@import "header";
@import "home";
@import "societe";
@import "shop";
@import "single-product";
@import "sur-mesure";
@import "single-canape";
@import "nos-distributions";
@import "contact";
@import "footer";