.header-fix {
    @media (min-width: 1879px) {
        max-height: 79px;
    }

    @media (min-width: 992px) and (max-width: 1878px) {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 40px !important;

        .left-header {
            flex: 1 1 182px;
            max-width: 182px;
        }

        nav {
            width: 100%;
            flex: 1 1 100%;
            order: 4;
            margin-left: -40px;
            margin-right: -40px;
            background-color: $grey;
            margin-bottom: -12px;

            &>ul {
                background-color: $grey;
                height: 101%;
            }

            a {
                color: #fff;

                @media (min-width: 992px) and (max-width: 1157px) {
                    padding-left: 7px;
                    padding-right: 7px;
                }

                @media (min-width: 992px) and (max-width: 1050px) {
                    font-size: 11px;
                }
            }
        }

        .right-header {
            flex: 1 1 50%;
            order: 3;
        }
    }

    @media (max-width: 767px) {
        li.header-mail {
            display: none;
        }
    }

    a#btn-search {
        @media (min-width: 992px) {
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            padding-right: 15px;
            padding-left: 0px;
        }
    }
}