.home {
    h1 {
        font-size: 1rem;
        height: 0px;
        position: fixed;
        top: 0;
    }
}

.section-banner {
    .tp-revslider-mainul {
        .tp-revslider-slidesli {
            position: relative;

            &:after {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba($color: #000000, $alpha: 0.3);
            }

            .tp-caption.heading-2 {
                font-weight: 400;
                text-align: center;
                font-family: $font2;
                font-size: 1.8rem;
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-bottom: 5rem;
                    line-height: 5rem;
                    font-size: 2rem;
                }
                @media (min-width: 992px) {
                    margin-bottom: 7.5rem;
                    line-height: 5rem;
                    font-size: 3rem;
                }
            }

            .tp-caption.heading-1 {
                font-weight: 400;
                letter-spacing: 3px;
                text-align: center;
                @media (min-width: 768px) and (max-width: 991px) {
                    line-height: 6rem;
                    font-size: 5rem;
                }
                @media (min-width: 992px) {
                    line-height: 8rem;
                    font-size: 7.1rem;
                }
            }

            @media (min-width: 768px) {
                .tp-caption.btn-1 {
                    margin: 15rem 3rem 0 0;
                }

                .tp-caption.btn-2 {
                    margin: 15rem 0 0 3rem;
                }
            }
        }
    }
}

.societe {
    .text-box {
        width: 100%;
        text-align: left;

        @media (min-width: 992px) {
            text-align: right;
            padding: 0px;
        }
    }

    .img-block {
        width: 100%;

        @media (min-width: 992px) {
            width: calc(100% - 15px);
        }
    }

    .lp {
        margin-top: 1.15rem;
    }
}

.dark-section {
    background-color: $grey;

    h2 {
        color: $white;
    }
}

section.promos {
    .promotion-box {
        .text-cap {
            padding-top: 0px;
        }

        figcaption {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}

section.stats {
    background: url("images/home-banner.png") no-repeat center center;
    background-size: cover;
    position: relative;

    &>.container {
        z-index: 1;
        position: relative;

        .wow {

            .block-img-full {
                text-align: center;
                max-width: 209px;
                margin: auto;

                @media (max-width: 991px) {
                    margin: 10% auto;
                }

                .wrp {
                    position: relative;
                    padding: 0 0 100%;

                    .wrp2 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: $yellow;
                        border-radius: 50%;

                        .text-box {
                            margin-top: 0px;
                        }

                        .text-cap {
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            font-weight: 400;
                            margin-bottom: 10px;
                        }

                        img {
                            max-width: 47.46px;
                            margin: auto;
                        }

                        p {
                            font-size: 3rem;
                            font-weight: 400;
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: $white, $alpha: 0.6);
        z-index: 0;
    }
}

.pour-la-maison {
    padding-bottom: 0px;

    .chooseus-container {
        width: 100%;

        @media (min-width: 992px) {
            .chooseus-item {
                width: 25%;

                .chooseus-canvas-item {
                    transform: scale(0.8);
                    -webkit-transform: scale(0.8);
                    -moz-transform: scale(0.8);
                }
            }
        }

        .tri3 img {
            transform: scale(1.2, 1.2) rotate(56deg) translateY(63px);
        }
    }
}

.dist-1 {
    padding-top: 0px;
    @media (min-width: 992px) {
        padding-top: 2rem;
    }
}

.distributions {
    .projectContainer {
        .element-item {
            height: 360px;
            overflow: hidden;
            @media (max-width: 1199px) {
                height: 320px;
            }

            .project-info {
                background: rgba(0, 0, 0, 0.6);
                opacity: 1;

                @media (max-width: 991px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    @media (min-width: 992px) {
                        top: 42.5%;
                    }
                }

                a,
                .title-project {
                    transform: translateY(0%);
                    color: $white;
                    text-align: center;
                }
            }

            img {
                height: 220px;
                width: 100%;
                object-fit: cover;

                @media (min-width: 992px) {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    top: 42.5%;
                }
            }
        }
    }
}

.partners {
    .divider {
        background: #A6A6A6;
    }

    .owl-partner-warp {
        @media (min-width: 992px) {

            .prev-partners,
            .next-partners,
            .next-partners2,
            .prev-partners2 {
                opacity: 1;
            }
        }
    }

    .owl-partners {
        .owl-wrapper {
            display: table !important;
        }

        .owl-item {
            display: table-cell;
            float: none;
            vertical-align: middle;

            div {
                text-align: center;
            }
        }

        img {
            opacity: 1;

            @media (max-width: 991px) {
                max-width: 70%;
            }
        }
    }
}

.newsletter {
    @media (min-width: 992px) {
        padding-bottom: 165px;
    }

    .form-subcribe form {
        margin-top: 25px;

        @media (min-width: 480px) {
            display: inline-flex;
            width: 98%;
        }
    }
}