body.nos-distributions {
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .sub-header-blog-grid {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 0;
        }

        .sub-header-content {
            z-index: 1;
        }
    }

    @include form-search-shop;

    .blog-warp {
        .element-item {
            font-family: $font2;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 5rem;
            margin-top: 1rem;

            article {
                @media (min-width: 768px) {
                    max-width: 300px;
                }

                &:hover {
                    .latest-blog-post-description {
                        &>a {
                            text-decoration: underline;
                            text-decoration-color: $black;
                        }
                    }
                }
            }

            .latest-blog-post-img {
                -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 0px;
                img {
                    @media (min-width: 768px) {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }

            .latest-blog-post-description {
                height: auto;

                a {
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $black;
                    }
                }

                .blog-title {
                    font-weight: 600;
                    font-size: 1.4rem;
                    margin-top: 10px;
                    text-align: center;
                }

                .blog-description {
                    font-weight: 400;
                    font-size: 1rem;
                    text-align: left;
                }

                .site-redir {
                    font-weight: 400;
                    font-size: 1.2rem;
                    text-align: center;
                    margin-top: 10px;
                    color: $black;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}