body.shop {
    @media (min-width: 1200px) {
        .container {
            width: 1290px;
        }
    }
    .sub-header-about {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 0;
        }

        .sub-header-content {
            z-index: 1;
        }
    }
    @include form-search-shop;
    .blogFilter {
        margin-bottom: 30px;

        a {
            position: relative;
            padding: 0px 1.2rem 17px 1.2rem;

            &:not(:last-child):after {
                content: "|";
                width: 1px;
                height: 22px;
                position: absolute;
                right: 0px;
                top: 4px;
                color: #ccc;
                display: block;
            }

            &>* {
                display: inline-block;
                position: relative;
                font-family: $font2;
                font-size: 1.2rem;
                z-index: 9;
                margin-top: 10px;
            }
        }
    }

    .main-shop {

        div.trigger,
        div.fancy-select ul.options,
        .woocommerce-result-count {
            font-family: $font2;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 2px;
        }

        .row-products {
            text-align: center;

            div.products {
                max-width: 1200px;

                .product-item {
                    margin-bottom: 60px;

                    .products-warp {
                        max-width: 317px;
                        margin: auto;

                        .sale-product,
                        .new-product {
                            color: $white;
                            padding: 0px 10px;
                            letter-spacing: 1px;
                            font-size: 1.2rem;
                            width: auto;
                            font-family: $font2;
                            font-weight: 400;
                        }

                        .new-product {
                            background: $green;
                        }

                        img {
                            -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        }
                    }

                    .product-info {
                        .text-cap {
                            font-weight: 600;
                            font-size: 1.6rem;
                            margin-top: 3rem;
                        }

                        .ot-btn {
                            width: auto;
                        }
                    }
                }
            }
        }
        nav.woocommerce-pagination {
            max-width: 1200px;
            margin: -50px auto 125px auto;
            padding: 0 4%;
            .pagination li>a.current {
                border-color: $grey3;
                background: $grey3;
                &:hover {
                    background: $grey3;
                }
            }
        }
    }
}