body.single-canape {
    .sub-header-about {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;
    }

    .blogFilter {
        &>a {
            &:first-child {
                padding-left: 0px;
            }
        }

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    .product-details {
        padding-bottom: 94px;
        .detail-product-warp {
            .product-detail-image {
                img {
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;

                    @media (min-width: 992px) {
                        margin-top: 5rem;
                    }
                }
            }
        }
    }

    .categories,
    .variations {
        .container {
            .owl-relate {
                .item {
                    img {
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}