body.single-product {
    font-family: $font2;
    letter-spacing: 2px;
    .sub-header-about {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;
    }

    .blogFilter {
        margin-bottom: 0px;
    }

    .product-details {
        padding-bottom: 50px;
        .detail-product-warp {
            max-width: 1080px;
            margin: auto;
            .img-case {
                @media (max-width: 991px) {
                    margin-bottom: 7rem;
                }
            }
            .product-detail-image {
                max-width: 550px;

                img {
                    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }

                @media (max-width: 991px) {
                    margin: auto;
                }
            }

            .single-product-detail {

                @media (min-width: 992px) {
                    padding-left: 5rem;
                }

                .product-title {
                    color: $grey3;
                    @media (min-width: 992px) {
                        margin-top: 0px;
                    }

                    font-weight: 600;
                    font-size: 2rem;
                }

                .product-description {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 400;
                }

                .product-code {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }
    }

    .categories,
    .variations {
        padding-bottom: 3rem;

        .title {
            font-family: $font2;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 0px;
            color: $grey3;
        }

        .container {
            max-width: 1080px;
            margin: auto;

            .owl-relate {
                .item {
                    margin-left: 1rem;
                    margin-right: 1rem;

                    img {
                        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }

                    .variation-info {
                        min-height: 30px;

                        .text-cap {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .owl-relate-warp {

                .prev-relate,
                .next-relate {
                    opacity: 1 !important;
                    background: transparent !important;
                    top: calc(50% - 15px);
                }
            }

            .owl-controls {
                display: none !important;
            }
        }
    }

    .categories {
        padding-bottom: 10rem;
        .container {
            .title {
                text-align: left;
            }
            .owl-relate {
                .item {
                    .variation-info {
                        .text-cap {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}