.la-societe {
    .sub-header-about {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 0;
        }

        .sub-header-content {
            z-index: 1;
        }
    }

    .societe1 {
        &>.container {
            &>.row {
                @media (min-width: 992px) {
                    width: 92%;
                    margin: auto;
                }
            }

            .text-box {
                width: 100%;

                @media (min-width: 992px) {
                    text-align: left;
                }
            }

            .block-img-right {
                .text-cap {
                    font-family: $font2;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin-bottom: 3.5rem;
                    margin-top: 0;

                    @media (min-width: 992px) {
                        font-size: 4.8rem;
                    }
                }
            }

            .wrap-sc {
                display: flex;
                flex-direction: column-reverse;
            }

            @media (min-width: 992px) {
                .wrap-sc {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .block-img-left {
                        .img-block {
                            position: relative;
                            padding-bottom: 100%;
                        }

                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    .societe2 {
        position: relative;
        padding: 40px 0 40px 0;

        .real-container {
            z-index: 1;
            position: relative;

            .block-img-left {
                padding: 0px;
                margin: 0px;
                display: grid;
                .img-block {
                    margin: 0px !important;
                    img {
                        @media (min-width: 992px) {
                            display: none;
                        }
                    }
                }
            }

            .block-img-right {
                color: $white;

                .text-cap {
                    font-family: $font2;
                    font-weight: 400;
                    letter-spacing: 2px;
                    color: $white;

                    @media (min-width: 992px) {
                        font-size: 4.8rem;
                    }
                }

                .container {
                    max-width: 100%;
                }

                .four-blocks {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    @media (max-width: 479px) {
                        margin-bottom: 35px;
                    }

                    @media (min-width: 992px) and (max-width: 1199px) {
                        min-width: 480px;
                        margin-left: calc(100% - 480px);
                    }

                    .blc {
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media (max-width: 599px) {
                            width: 50%;
                        }

                        .blc-ttl {
                            font-family: $font2;
                            font-weight: 500;
                            letter-spacing: 2px;
                            font-size: 1.2rem;
                            text-align: center;
                            color: $yellow;
                            text-transform: uppercase;
                            text-align: center;
                            line-height: 2;
                            min-height: 50px;
                            display: flex;
                            align-items: center;

                            @media (min-width: 992px) and (max-width: 1199px) {
                                font-size: 1rem;
                            }
                        }

                        .blc-icon {
                            background-color: $yellow;
                            border-radius: 50%;
                            position: relative;
                            width: 61px;
                            height: 61px;

                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 75%;
                                width: 31px;
                                height: 31px;
                            }
                        }
                    }
                }
            }

            @media (max-width: 991px) {
                width: 100%;
                padding: 0px;

                &>.row {
                    &>div {
                        &:first-child {
                            background-color: $grey2;
                        }
                    }
                }
            }
        }

        .fake-container {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 0;

            .row {
                height: 100%;

                div {
                    padding: 0;
                    height: 100%;

                    &:first-child {
                        background-color: $grey2;
                    }

                    &:last-child {
                        background: url("images/fauteuil.jpg") no-repeat center center;
                        background-size: cover;
                    }
                }
            }

            @media (max-width: 991px) {
                display: none;
            }
        }

        @media (max-width: 991px) {
            padding: 0px;
        }
    }
}