body.sur-mesure {
    .sub-header-about {
        background-image: url("images/home-banner.png");
        background-position: bottom center;
        position: relative;
    }
    .blogFilter {
        & > a {
            &:first-child {
                padding-left: 0px;
            }
            &:nth-last-child(2) {
                &:after {
                    display: none;
                }
            }
        }
        .right-align {
            float: right;
            @media (max-width: 991px) {
                width: 100%;
                text-align: right;
                margin: 2rem 0;
            }
        }

        @media (min-width: 992px) {
            text-align: left;
        }
    }
    .main-shop {
        .row-products {
            div.products {
                .product-item {
                    .products-warp {
                        img {
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}